*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', san-serif; 
}

@font-face {
    font-family: 'GmarketSansTTFbold';
    src: url('https://cdn.jsdelivr.net/gh/wizfile/font/GmarketSansTTFBold.eot');
    src:url('https://cdn.jsdelivr.net/gh/wizfile/font/GmarketSansTTFBold.woff') format('woff');
    font-style: normal;
}
				
header .default{
    margin: 0 auto;
    width: 1140px;
    height: 124px;
    padding: 32px 0;
    font-family: GmarketSansTTFBold;
    font-size: 40px;
    font-weight:bold;
    line-height: 150%;
    text-align: center;
}

header .hover{
    margin: 0 auto;
    width: 1140px;
    height: 124px;
    padding: 32px 0;
    font-family: GmarketSansTTFBold;
    font-size: 40px;
    font-weight:bold;
    line-height: 150%;
    text-align: center;
    color: #F4F4F4;
    display: none;
}

header:hover .hover{
    display: block;
}

header:hover .default{
    display: none;
}

.nav {
    margin: 48px auto;
    padding: 0;
    width: 490px;
    height: 53px;
    list-style: none;
    text-align: center;
    background-color: rgba(247, 247, 247, 0.8);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
}

li a{
    text-decoration: none;
}

.nav .off a {
    /* display: inline-block; */
    font-size: 16px;
    color: #4C4C4C;
    font-weight: 300;
    line-height: 150%;
    height: 53px;
    padding: 14px 24px 16px;
    flex-grow: 0;
    flex-shrink: 1;
}

.nav .on a {
    background-color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    height: 53px;
    padding: 14px 24px 16px;
    color: #ffffff;
    border-radius: 30px;
    flex-grow: 1;
    flex-shrink: 1;
}

main {
    margin: 100px auto 100px;
    width: 1140px;
    display: flex;
    gap: 54px;
    flex-wrap: wrap;
    justify-content: left;
}

.col {
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: left;
} 

.tag {
    display: flex;
    gap: 8px;
    margin: 0 0 5px;
}

p {
    font-size: 14px;
    line-height: 150%;
    font-weight: 200;
    color: #868E96;
}

h2 {
    font-size: 28px;
    line-height: 150%;
    font-weight: 600;
    margin: 0 0 32px;
}

.img_c1 img {
    width: 542px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 8px;
}

.img_c2 img {
    width: 544px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 8px;
}

hr {
    width: 542px;
    border: 0.8px solid #eeeeee;
    margin: 0 auto;
}